.speech-bubble-positive {
    position: relative;
    background: 	#9e419b;
    border-radius: .4em;
    padding: 15px;
    color: #fcf5fc;
    
}

.speech-bubble-positive:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-right-color: 	#9e419b;
    border-left: 0;
    border-bottom: 0;
    margin-top: -14.5px;
    margin-left: -29px;
    color: #fcf5fc;
}

.speech-bubble-negative {
    position: relative;
    background: #C1C1C1;
    border-radius: .4em;
    padding: 15px;
    color: #02070f;
}

.speech-bubble-negative:after {
    content: '';
    position: absolute;
    right: 0%;
    top: 50%;
    width: 0;
    height: 0;
    border: 29px solid transparent;
    border-left-color: #C1C1C1;
    border-right: 0;
    border-bottom: 0;
    margin-top: -14.5px;
    margin-right: -29px;
    color: #02070f;
}
